#main {
    margin-top:48px;
}

#post-list, #source-list {
    list-style-type: none;
}

#source-list {
    word-break: break-all;
}

.post-container {
    margin-top:20px;
    padding: 12px;
    border: 1px solid #eee;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #eee;
  text-align: center;
}
